[Unit]
Description=ydotool daemon
After=display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/ydotoold
Restart=always
RestartSec=1

[Install]
WantedBy=default.target